<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>advs</key>
		<array/>
		<key>hotGoods</key>
		<array>
			<dict>
				<key>acu</key>
				<string>666</string>
				<key>bdacu</key>
				<string>666</string>
				<key>cateid</key>
				<string>107</string>
				<key>content</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/content/id/282</string>
				<key>goodsid</key>
				<string>282</string>
				<key>goodsname</key>
				<string>亚洲XJ松下老者杯</string>
				<key>goodspic</key>
				<string>http://art.huiwork.com/Upload/Images/goods/20170525/s_5926487816e36.jpg</string>
				<key>parameter</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/parameter/id/282</string>
				<key>present_price</key>
				<string>0.00</string>
				<key>shopid</key>
				<string>0</string>
				<key>starting_price</key>
				<string>0.00</string>
			</dict>
		</array>
		<key>newGoods</key>
		<array>
			<dict>
				<key>acu</key>
				<string>666</string>
				<key>bdacu</key>
				<string>666</string>
				<key>cateid</key>
				<string>107</string>
				<key>content</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/content/id/282</string>
				<key>goodsid</key>
				<string>282</string>
				<key>goodsname</key>
				<string>亚洲XJ松下老者杯</string>
				<key>goodspic</key>
				<string>http://art.huiwork.com/Upload/Images/goods/20170525/s_5926487816e36.jpg</string>
				<key>parameter</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/parameter/id/282</string>
				<key>present_price</key>
				<string>0.00</string>
				<key>shopid</key>
				<string>0</string>
				<key>starting_price</key>
				<string>0.00</string>
			</dict>
		</array>
		<key>soldGoods</key>
		<array>
			<dict>
				<key>acu</key>
				<string>148</string>
				<key>bdacu</key>
				<string>148</string>
				<key>cateid</key>
				<string>107</string>
				<key>content</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/content/id/251</string>
				<key>goodsid</key>
				<string>251</string>
				<key>goodsname</key>
				<string>特大黑釉陶瓷壶摆件</string>
				<key>goodspic</key>
				<string>http://192.168.1.139/Upload/Images/goods/20170524/s_59253db07f3ee.jpg</string>
				<key>parameter</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/parameter/id/251</string>
				<key>present_price</key>
				<string>0.00</string>
				<key>shopid</key>
				<string>0</string>
				<key>starting_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>acu</key>
				<string>260</string>
				<key>bdacu</key>
				<string>260</string>
				<key>cateid</key>
				<string>107</string>
				<key>content</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/content/id/252</string>
				<key>goodsid</key>
				<string>252</string>
				<key>goodsname</key>
				<string>陶瓷艺术品</string>
				<key>goodspic</key>
				<string>http://192.168.1.139/Upload/Images/goods/20170524/s_592542205a76a.jpg</string>
				<key>parameter</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/parameter/id/252</string>
				<key>present_price</key>
				<string>0.00</string>
				<key>shopid</key>
				<string>0</string>
				<key>starting_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>acu</key>
				<string>300</string>
				<key>bdacu</key>
				<string>300</string>
				<key>cateid</key>
				<string>107</string>
				<key>content</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/content/id/253</string>
				<key>goodsid</key>
				<string>253</string>
				<key>goodsname</key>
				<string>清雍正青花花卉祥狮纹鎏金胆瓶</string>
				<key>goodspic</key>
				<string>http://192.168.1.139/Upload/Images/goods/20170524/s_5925495ce2f5e.jpg</string>
				<key>parameter</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/parameter/id/253</string>
				<key>present_price</key>
				<string>0.00</string>
				<key>shopid</key>
				<string>0</string>
				<key>starting_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>acu</key>
				<string>600</string>
				<key>bdacu</key>
				<string>600</string>
				<key>cateid</key>
				<string>107</string>
				<key>content</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/content/id/255</string>
				<key>goodsid</key>
				<string>255</string>
				<key>goodsname</key>
				<string>清乾隆黄底缠枝花卉珐琅彩山水纹抱月瓶 古玩古瓷收藏老货</string>
				<key>goodspic</key>
				<string>http://192.168.1.139/Upload/Images/goods/20170524/s_59254c9c836ae.jpg</string>
				<key>parameter</key>
				<string>http://webservice.huiwork.com/yayuan/index.php/supplier/wap/parameter/id/255</string>
				<key>present_price</key>
				<string>0.00</string>
				<key>shopid</key>
				<string>0</string>
				<key>starting_price</key>
				<string>0.00</string>
			</dict>
		</array>
	</dict>
	<key>state</key>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>debugMsg</key>
		<string></string>
		<key>msg</key>
		<string></string>
		<key>time</key>
		<integer>1495699989</integer>
		<key>url</key>
		<string>Supplier/Api/getShopIndex</string>
	</dict>
</dict>
</plist>
